name: CMake

on:
  workflow_call:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
  workflow_dispatch:
  
env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build-windows:
    name: C++/Win32 (windows22 image)

    runs-on: windows-2022

    env:
      wxMSW_VER: 3.2.0
      WXWIN: c:\wx

    steps:
      - uses: actions/checkout@v3
      - name: Install wxWidgets
        run: |
          mkdir ${env:WXWIN} | Out-Null
          cd ${env:WXWIN}
          curl -OL https://github.com/wxWidgets/wxWidgets/releases/download/v${env:wxMSW_VER}/wxWidgets-${env:wxMSW_VER}.7z  
          7z x wxWidgets-${env:wxMSW_VER}.7z
          cmake . -G "MinGW Makefiles" -B ./cmake/build/static -DCMAKE_BUILD_TYPE=RELEASE -DwxBUILD_SHARED=OFF -DwxBUILD_PRECOMP:BOOL=OFF 
          cmake . -G "MinGW Makefiles" -B ./cmake/build/static -DCMAKE_BUILD_TYPE=DEBUG -DwxBUILD_SHARED=OFF -DwxBUILD_PRECOMP:BOOL=OFF 
          cd cmake/build/static
          make -j8 BUILD=release       
          make -j8 BUILD=debug
          ls
          7z a wxMSW-3.2.0_gcc1120_x64_Dev.7z lib/gcc_x64_lib
          7z a wxWidgets-3.2.0-headers.7z include
      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Build output
          path: |
            c:/wx/cmake/build/static/wxMSW-3.2.0_gcc1120_x64_Dev.7z
            c:/wx/cmake/build/static/wxWidgets-3.2.0-headers.7z
