name: Release project

on:
  push:
    tags:
    - '*'
      
jobs:      
  build:
    name: Building project
    uses: ./.github/workflows/cmake.yml
  upload:
    name: Uploading files
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download build artifatcs
        uses: actions/download-artifact@v3
        with:
          name: Build output
      - name: List of files
        run: ls
        
          
      - name: Upload application file to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            wxMSW-3.2.0_gcc1120_x64_Dev.7z
            wxWidgets-3.2.0-headers.7z
          asset_name: |
            wxMSW-$tag_gcc1120_x64_Dev.7z
            wxWidgets-3.2.0-headers.7z
          tag: ${{ github.ref }}
